{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Snacks project</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static ' snacks/img/favicon.png' %}" rel="icon">
  <link href="{% static ' snacks/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static ' snacks/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static ' snacks/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static ' snacks/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static ' snacks/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static ' snacks/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static ' snacks/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static ' snacks/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static ' snacks/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v3.7.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 Snacks project </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src=" /img/logo.png" alt=""></a>-->

      {% block nav %}
      <ul id="nav">
          <li>{% block nav-home %}<a href="/">Home</a>{% endblock %}</li>
          <li>{% block nav-ist %}<a href="{% url 'SnackList' %}">Snack List</a>{% endblock %}</li>
          <li>{% block nav-Create %}<a href="{% url 'Snack_Create' %}">Snack Create</a>{% endblock %}</li>
      </ul>
      {% endblock %}

    </div>
  </header><!-- End Header -->

  {% block hero %}
  {% endblock %}

  <main id="main">

    {% block main %}

    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  


</body>

</html>