{% extends "_base.html"%}

{% block hero %}

{% block title %}Snack List{% endblock title %}


{% for snack in object_list %}

<p><a href="{% url 'Snack_Detail' pk=snack.pk %}"> {{snack.title}} - {{snack.purchaser}}</a></p>
 <br/>
 <form action="{% url 'Snack_Update' pk=snack.pk %}" method="POST">
    {% csrf_token %}
        <button type="submit">Update</button>
</form>

<form action="{% url 'Snack_Delete' pk=snack.pk %}" method="POST">
    {% csrf_token %}
        <button type="submit">Delete</button>
</form>

{% endfor %}
{% endblock %}
